version: "3.8"

volumes:
  qdrant_data:

services:

  qdrant:
    build:
      context: ./qdrant
      dockerfile: Dockerfile
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: always

  embedding-service:
    build:
      context: ./embedding-service
      dockerfile: Dockerfile
    container_name: embedding-service
    env_file:
      - .env.embed
    ports:
      - "9000:9000"
    restart: always

  api-news:
    build:
      context: ./api-news
      dockerfile: Dockerfile
    container_name: api-news
    ports:
      - "8081:8081"
    restart: always
    environment:
      EMBEDDING_SERVICE_URL: http://embedding-service:9000
      
      QDRANT_HOST: qdrant
      QDRANT_PORT: 6333
      
      EMBEDDING_VECTOR_LENGTH: 384
      QDRANT_COLLECTION: articles
    depends_on:
      qdrant:
        condition: service_healthy
      embedding-service:
        condition: service_started
